<!DOCTYPE html>
<html lang="ko">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="ORIX Capital keywords" />
	<meta name="description" content="ORIX Capital description" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<!-- 
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
	-->
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">

	<link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.png" />
	<link rel="icon" type="image/x-icon" href="../resources/favicon.png" />

	<!-- <link href="../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">
    
	<script type="text/javascript" src="../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/lib/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
</head>


<!-- <div class="quick-menu">
    <ul>
        <li><a href="#none">심사결과조회</a></li>
        <li><a href="#none">대출진행현황</a></li>
        <li><a href="#none">팀실적조회</a></li>
        <li><a href="#none">송금요청</a></li>
    </ul>
</div> -->

<body>
    <div class="wrap">
        <!-- //header -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("./include/inc_header.html");
			});
			</script>
        </div>
        <form>
            <div class="contents-wrap">
                <section class="list-box-bottom">
                    <div class="txt-list-wrap">
                        <div class="calculation-area form-wrap">
                            <div class="form-group">
                                <label for="user_phone">상환방법</label>
                                <div class="form-control disabled" onclick="openPopup('lySel1')" tabindex="0">
                                    <a href="#none" tabindex="-1"><span>원리금균등분할상환</span></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount">대출금액</label>
                                <div class="amount">
                                    <input type="amount" class="form-control amount-num" id="amount" placeholder="금액을 입력해주세요" inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                                    <span class="amount-txt">원</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount">대출기간</label>
                                <div class="amount">
                                    <input type="amount" class="form-control amount-num" id="amount" placeholder="금액을 입력해주세요">
                                    <span class="amount-txt">개월</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amount">예상금리</label>
                                <div class="amount">
                                    <input type="amount" class="form-control amount-num" id="amount" placeholder="금액을 입력해주세요">
                                    <span class="amount-txt">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="txt-list-wrap">
                        <div class="calculation-area">
                            <div class="visaul-info-box">
                                <span>상환 예정 금액은<br>매월 약 <strong>450,450원</strong> 입니다</span>
                            </div>
                            <div class="txt-detail-tit">
                                <span class="tit"><strong>상환예정금액</strong></span>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">상환원금</span>
                                    <span class="txt">387,017원</span>
                                </li>
                                <li>
                                    <span class="tit">이자금액</span>
                                    <span class="txt">63,333원</span>
                                </li>
                                <li>
                                    <span class="tit">월납부금</span>
                                    <span class="txt">540,540원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
,</body>
</html>