<!DOCTYPE html>
<html lang="ko">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="ORIX Capital keywords" />
	<meta name="description" content="ORIX Capital description" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<!-- 
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
	-->
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">

	<link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.png" />
	<link rel="icon" type="image/x-icon" href="../resources/favicon.png" />

    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">
    <link rel="stylesheet" href="../resources/css/ui/jquery-ui.css">
    
	<script type="text/javascript" src="../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../resources/js/lib/datepicker.js"></script>

</head>

    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script> -->

<!-- <div class="quick-menu">
    <ul>
        <li><a href="#none">심사결과조회</a></li>
        <li><a href="#none">대출진행현황</a></li>
        <li><a href="#none">팀실적조회</a></li>
        <li><a href="#none">송금요청</a></li>
    </ul>
</div> -->

<body>
    <div class="wrap">
        <!-- //header -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("./include/inc_header.html");
			});
			</script>
        </div>
    
        <!-- <header id="lnb">
            <a href="javascript:void(0);" onclick="" class="btn_prev">이전</a>
            <h1>정기예금</h1>
            <a href="javascript:void(0)" class="btn_menu">메뉴</a>
        </header> -->
        <form>
            <div class="contents-wrap">
                <section class="form-wrap">
                    <div class="form-group">
                        <label for="user_name">성명</label>
                        <input id="user_name" type="text" name="user-name" class="form-control" placeholder="성명" invalid>
                    </div>
                    <div class="form-group">
                        <label for="user_name">vaild</label>
                        <input id="user_name" type="text" name="user-name" class="form-control" placeholder="성명" value="오릭스"><!--vaild-->
                    </div>
                    <div class="form-group invalid">
                        <label for="user_name">Invaild</label>
                        <input id="user_name" type="text" name="user-name" class="form-control" placeholder="성명"><!--invaild-->
                        <!-- <div class="feedback">사용자 이름을 선택하세요.</div> -->
                        <div class="info-txt-wrap">
                            <span class="info-mark">invalid mark</span>
                            <p class="info">영문, 숫자, 특수문자를 조합한 8~12자리를 입력해 주세요</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user-email">이메일</label>
                        <input type="email" name="email" class="form-control" id="user-email"  placeholder="이메일을 입력해주세요">
                        <div class="info-txt-wrap">
                            <span class="info-mark">info mark</span>
                            <p class="info">영문, 숫자, 특수문자를 조합한 8~12자리를 입력해 주세요</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="user_name">Disalbed</label>
                        <input id="user_name" type="text" name="user-name" class="form-control" placeholder="성명"disabled><!--disalbed-->
                    </div>
                    <div class="form-group">
                        <label for="user_name">Readonly</label>
                        <input id="user_name" type="text" name="user-name" class="form-control" placeholder="성명"readonly><!--readonly-->
                    </div>
                  
                    <div class="form-group">
                        <div class="form-tit">주민등록번호</div>
                        <label for="user_resi_number">주민등록번호</label>
                        <div class="form-row" id="user_resi_number">
                            <div class="col">
                                <input type="number" class="form-control" maxlength="6" placeholder="">
                            </div>
                            <div class="input-hyphen">-</div>
                            <div class="col">
                                <input type="password" class="form-control" maxlength="7" placeholder="●●●●●●●">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <div class="form-tit">주민등록번호</div> -->
                        <label for="user_resi_number">주민등록번호</label>
                        <div class="form-row" id="user_resi_number">
                            <div class="col">
                                <input type="number" class="form-control" maxlength="6" placeholder="">
                            </div>
                            <div class="input-hyphen">-</div>
                            <div class="col">
                                <input type="password" class="form-control" maxlength="7" placeholder="●●●●●●●">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <div class="form-tit">방문 예정 일자</div> -->
                        <label for="">방문 예정 일자</label>
                        <div class="form-row" id="">
                            <div class="col">
                                <input type="text" class="form-control datepicker" placeholder=""  inputmode="none" readonly>
                                <!-- <input type="text" id="datepicker" class="form-control datepicker" placeholder=""> -->
                            </div>
                            <div class="col">
                                <div class="form-control select"  onclick="openPopup('lySel4')"  tabindex="0">
                                    <a href="#none" tabindex="-1"><span>시간 선택</span></a>
                                </div>
                            </div>
                            <!-- <div class="col">
                                <input type="text" class="form-control timepicker" placeholder="-- : -- --" inputmode="none" >
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="">방문 예정 일자</label>
                        <div class="form-row" id="">
                            <div class="col">
                                <input type="text" class="form-control datepicker" placeholder="0000-00-00"  inputmode="none" readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control timepicker" placeholder="-- : -- --" inputmode="none" readonly>
                            </div>
                        </div>
                    </div> -->


                    <div class="form-group">
                        <!-- <div class="form-tit">휴폰폰 번호</div> -->
                        <label for="user_resi_number">휴폰폰 번호</label>
                        <div class="form-row" id="user_resi_number">
                            <div class="col-3">
                                <div class="form-control select disabled"  onclick="openPopup('lySel1')"  tabindex="0">
                                    <a href="#none" tabindex="-1"><span>통신사</span></a>
                                </div>
                            </div>
                            <div class="col">
                                <input id="user_phone" type="tel" name="phone" class="form-control" maxlength="11" placeholder="- 없이 숫자만 입력" inputmode="tel">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="user-id">아이디</label>
                        <input type="text" class="form-control" id="user-id" placeholder="아이디를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="user-password">비밀번호</label>
                        <input type="password" class="form-control" id="user-password" placeholder="비밀번호를 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="user-password">비밀번호 확인</label>
                        <input type="password" class="form-control" id="user-password" placeholder="비밀번호 확인해주세요">
                    </div>

                    <div class="form-group row">
                        <label for="amount">금액</label>
                        <div class="amount">
                            <input type="amount" class="form-control amount-num" id="amount" placeholder="금액을 입력해주세요"
                                inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                            <span class="amount-txt">원</span>
                        </div>
                    </div>
                    <!--aria-label: 대체 text, aria-describedby: ARIA-labelledby 보다 상세 외 id 속성값을 일치 시킨 그 요소의 내용  /inputmode="search"-->
                    <!-- <div class="form-group" onclick="openPopup('lySel3')">
                        <input type="text" id="search" class="form-control search" placeholder="신용조회 동의완료 고객 선택" aria-label="Search" aria-describedby="user-search" inputmode="search">
                        <button class="btn btn-txt-select" type="button" >선택</button>
                    </div> -->

                    <div class="form-group">
                        <label for="search" class="essential">방문자</label><!--essential 필수일 경우-->
                        <div class="form-row">
                            <div class="col">
                                <input type="text" id="search" class="form-control" placeholder="방문자 선택" readonly>
                            </div>
                            <button class="btn btn-txt" type="button" onclick="openPopup('lySel3')">선택</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input type="number" id="search" class="form-control" placeholder="인증번호 입력"><!--aria-label: 대체 text, aria-describedby: ARIA-labelledby 보다 상세 외 id 속성값을 일치 시킨 그 요소의 내용  /inputmode="search"-->
                            </div>
                            <button class="btn btn-txt" type="button">인증번호요청</button>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-tit">모델로 조회</div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-control select" tabindex="0" onclick="openPopup('lySel')">
                                    <a href="#none" tabindex="-1"><span>제조사 선택</span></a>
                                </div>
                            </div>
                            <button class="btn btn-txt img" type="button">검색</button>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="search" class="essential">주소 검색</label><!--essential 필수일 경우-->
                        <div class="form-row">
                            <div class="col">
                                <input type="text" id="search" class="form-control" placeholder="도로명, 지번을 입력해주세요" aria-label="Search Addresses" inputmode="search"><!--aria-label: 대체 text, aria-describedby: ARIA-labelledby 보다 상세 외 id 속성값을 일치 시킨 그 요소의 내용  /inputmode="search"-->
                            </div>
                            <button class="btn btn-txt img" type="button">검색</button>
                        </div>
                    </div>

                </section>
                <section class="form-wrap">
                    <div class="form-group address line">
                        <div class="input">
                            <span class="address-num">12347</span>
                            <span class="address-text">서울특별시 서초구 매헌로 16 (하이브랜드) 1518호</span>
                        </div>
                        <div class="btn-wrap">
                            <button class="btn btn-research" type="button">재검색</button>
                        </div>
                    </div>
                    <div class="form-group address line">
                        <div class="input">
                            <span class="address-num">12347</span>
                            <span class="address-text">서울특별시 서초구 매헌로 16 (하이브랜드) 1518호</span>
                        </div>
                        <div class="btn-wrap">
                            <button class="btn btn-research" type="button">재검색</button>
                        </div>
                    </div>
                </section>
                <!--absolute 필요 없느 radio-->
                <!-- <section class="form-wrap">
                    <div class="form-group radio-custom">
                        <div class="form-tit">Radio-custom</div>
                        <fieldset>
                            <label>
                                <input type="radio" name="contact" value="email" checked />
                                <span>이메일</span>
                            </label>

                            <label>
                                <input type="radio" name="contact" value="phone" />
                                <span>전화</span>
                            </label>

                            <label>
                                <input type="radio" name="contact" value="fax" disabled />
                                <span>팩스</span>
                            </label>

                            <label>
                                <input type="radio" name="contact" value="mail" />
                                <span>우편</span>
                            </label>
                        </fieldset>
                    </div>
                </section> -->
                
                <section class="form-wrap">
                    <div class="form-group radio-buttons">
                        <label for="radio-1" class="radio-button">
                            <input type="radio" id="radio-1" name="terms">
                            <span class="custom-radio"></span>
                            <span class="text">1학기</span>
                        </label>
                        <label for="radio-2" class="radio-button">
                            <input type="radio" id="radio-2" name="terms">
                            <span class="custom-radio"></span>
                            <span class="text">2학기</span>
                        </label>
                        <label for="radio-3" class="radio-button">
                            <input type="radio" id="radio-3" name="terms" disabled>
                            <span class="custom-radio"></span>
                            <span class="text">추가학기</span>
                        </label>
                    </div>
                </section>
                
                <section class="form-wrap">
                    <div class="form-group check-buttons">
                        <label for="check-1" class="check-button">
                            <input type="checkbox" id="check-1" name="terms">
                            <span class="custom-check"></span>
                            <span class="text">1학기</span>
                        </label>
                        <label for="check-2" class="check-button">
                            <input type="checkbox" id="check-2" name="terms">
                            <span class="custom-check"></span>
                            <span class="text">2학기</span>
                        </label>
                        <label for="check-3" class="check-button">
                            <input type="checkbox" id="check-3" name="terms" disabled>
                            <span class="custom-check"></span>
                            <span class="text">추가학기</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="user_phone" class="essential">내용</label><!--essential 필수일 경우-->
                        <textarea type="text" title="성명" id="ipt02" class="inp" name="" value="" placeholder="내용을 입력해주세요" maxlength="" required=""></textarea>
                    </div>
                </section>

                <section class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <button type="button" class="btn btn-primary">다음</button>
                        <button type="button" class="btn btn-txt">그만하기</button>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>


</html>
<div id="lySel" class="layerpopup layer-up" tabindex="0"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">통신사 선택</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <li><button>SKT</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                <li><button>KT</button></li>
                <li><button>LG</button></li>
                <li><button>알뜰폰 SK</button></li>
                <li><button>알뜰폰 KT</button></li>
                <li><button>알뜰폰 LG</button></li>
            </ul>
        </div>
    </div>
</div>


<!--//휴대폰팝업1-->
<div id="lySel1" class="layerpopup layer-up" tabindex="0"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">통신사 선택</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <li><button>SKT</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                <li><button>KT</button></li>
                <li><button>LG</button></li>
                <li><button>알뜰폰 SK</button></li>
                <li><button>알뜰폰 KT</button></li>
                <li><button>알뜰폰 LG</button></li>
            </ul>
        </div>
    </div>
</div>
<!--휴대폰팝업1//-->

<!--//휴대폰팝업2-->
<div id="lySel2" class="layerpopup layer-up" tabindex="0"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">통신사 선택</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <li><button>SKT</button></li><!-- [D] 클래스 active 추가 시 활성화 스타일 노출 -->
                <li><button>KT</button></li>
                <li><button>LG</button></li>
                <li><button>알뜰폰 SK</button></li>
                <li><button>알뜰폰 KT</button></li>
                <li><button>알뜰폰 LG</button></li>
            </ul>
        </div>
    </div>
</div>
<!--휴대폰팝업2//-->

<!--//선택팝업-->
<div id="lySel3" class="layerpopup layer-up" tabindex="0"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">고객 선택</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="form-group img-search">
            <input type="search" id="search" class="form-control" placeholder="이름 입력" aria-label="Search Addresses" aria-describedby="user-search" inputmode="search"><!--aria-label: 대체 text, aria-describedby: ARIA-labelledby 보다 상세 외 id 속성값을 일치 시킨 그 요소의 내용  /inputmode="search"-->
            <!-- <div class="input-group-prepend"></div> -->
            <!-- <button class="btn btn-clear outline-secondary" type="reset"></button> -->
            <button class="btn btn-search outline-secondary" type="button">검색</button>
        </div>
        <div class="ly-scroll-con ly-select">
            <div class="table-type table-row table-scroll check">
                <table class="">
                    <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                    <colgroup>
                        <!-- <col width="*%"> -->
                        <col width="40%">
                        <col width="60%">
                    </colgroup>
                    <thead>
                        <tr>
                            <!-- <th></th> -->
                            <th scope="row">고객명</th>
                            <th scope="row">연락처</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <!-- <td ><input type="checkbox" name="user_checkbox" id="check1" class="custom-check"><label for="check1"></label></td> -->
                            <td class="name">홍길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check2" class="custom-check"><label for="check2"></label></td> -->
                            <td class="name">김길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">박길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">송길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">진길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">황길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">민길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        <tr>
                            <!-- <td><input type="checkbox" name="user_checkbox" id="check3" class="custom-check"><label for="check3"></label></td> -->
                            <td class="name">오길동</td>
                            <td>010-1111-1234</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--선택팝업//-->

<!--//시간팝업-->
<div id="lySel4" class="layerpopup layer-up" tabindex="0"><!-- [D] 클래스 has-button 추가 시 하단 fixed 버튼 있을 시 스타일 노출-->
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">방문 시간 선택</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <li><button>9:00 AM</button></li>
                <li><button>9:30 AM</button></li>
                <li><button>10:00 AM</button></li>
                <li><button>10:30 AM</button></li>
                <li><button>11:00 AM</button></li>
                <li><button>11:30 AM</button></li>
                <li><button>12:00 PM</button></li>
                <li><button>12:30 PM</button></li>
                <li><button>13:00 PM</button></li>
                <li><button>13:30 PM</button></li>
                <li><button>14:00 PM</button></li>
                <li><button>14:30 PM</button></li>
                <li><button>15:00 PM</button></li>
                <li><button>15:30 PM</button></li>
                <li><button>16:00 PM</button></li>
                <li><button>16:30 PM</button></li>
                <li><button>17:00 PM</button></li>
                <li><button>17:30 PM</button></li>
                <li><button>18:00 PM</button></li>
            </ul>
        </div>
    </div>
</div>
<!--시간팝업//-->



<script>


    // // back layer click/touch event
    // layer.addEventListener('click', function (e) {
    //     e.preventDefault(); // 기본 클릭 이벤트 동작 막기
    //     e.stopPropagation(); // 클릭 이벤트 전파 방지
    // });

    // layer.addEventListener('touchstart', function (e) {
    //     e.preventDefault(); // 기본 터치 이벤트 동작 막기
    //     e.stopPropagation(); // 터치 이벤트 전파 방지
    // });

    /** datetimepicker custom **/

    // function getCurrentTime(date) {
    //     // extract hours and minutes from given date
    //     var hours = date.getHours(),
    //         minutes = date.getMinutes();

    //     // round minutes to half hour or next hour
    //     if (minutes <= 30) {
    //         minutes = "30";
    //     } else {
    //         minutes = "00";
    //         hours = (hours + 1) % 24; // loop on 24 hours
    //     }

    //     // calc if morning or afternoon
    //     var ampm = hours >= 12 ? "pm" : "am";

    //     // adjust hour to 12h format
    //     hours = hours % 12;
    //     hours = hours ? hours : 12; // the hour '0' should be '12'

    //     return hours + ":" + minutes + " " + ampm;
    // }

    // var cur_time = new Date();
    //         cur_time.setHours(cur_time.getHours() + 1);
    //         $('.timepicker').timepicker({
    //             timeFormat: 'hh:mm p',
    //             interval: 30,
    //             minTime: getCurrentTime(new Date()),
    //             // minTime: '1',
    //             // maxTime: '11:30pm', 
    //             // startTime: '01:00',
    //             dynamic: false,
    //             dropdown: true,
    //             scrollbar: true
    //         });
    // $('.timepicker').timepicker('setTime', cur_time);

    // // var datetimepicker = $('.timepicker');


    // // back layer show/hide for timepicker
    // const timeInput = document.querySelector('.timepicker'),
    //     timeContainer = document.querySelector('.ui-timepicker-container');
    // // timepickerContainer.classList.remove('ui-helper-hidden', 'ui-timepicker-hidden');

    // // add back layer for timepicker
    // const timeDim = document.createElement('div');
    // timeDim.classList.add('timepicker-layer');
    // timeDim.style.display = 'none'; // Initially hidden

    // timeContainer.before(timeDim);

    // // show back layer for timepicker
    // timeInput.addEventListener('click', function () {
    //     if (timeContainer.style.display === 'block') {
    //         dimTimeDisplay('block');
    //         // timeContainer.classList.remove('ui-timepicker-hidden');
    //     }
        
    // });

    

    // // hide back layer for timepicker
    // const timeLayer = document.querySelector('.timepicker-layer');

    // window.addEventListener('click', function (e) {
    //     if (e.target === timeLayer) {
    //         dimTimeDisplay('none');
    //     }
    // });

    // // back layer display control for timepicker
    // function dimTimeDisplay(display) {
    //     timeLayer.style.display = display;
    // }

    // $('.ui-corner-all').on('click', function() {
    //     dimTimeDisplay('none');
    // });




</script>

<style>
    /* .ui-timepicker-hidden  */
    .datepicker-layer,
    .timepicker-layer { z-index: 200!important; display: none; position: fixed; width: 100%; height: 100%;  top: 0;  left: 0 !important;  background-color: rgba(0, 0, 0, 0.2); }
    .ui-datepicker,
    .ui-timepicker-container  {  z-index: 200 !important;  display: none; position: fixed !important; width: 100% !important; top: inherit !important; left: inherit !important; bottom:0; padding: 1em; background-color: #FFFFFF; border-radius: 20px 20px 0 0; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }
    .ui-datepicker-trigger { position:absolute;  top:50%; right:10px; transform:translateY(-50%);  width:16px; height:24px; border:none; background: url(../resources/images/common/datepicker_cal.png)no-repeat center 50%/16px auto; }
    .ui-datepicker-header { position: relative; width: 100%; height: 46px; display: flex; justify-content: center; padding: 4px 0; border-radius: 5px; }
    .ui-widget-header { border:none; }
    .ui-widget-header .ui-icon.ui-icon-circle-triangle-e { width:18px; height:18px; background:url(../resources/images/common/datepicker_next.png)no-repeat 50%/18px auto; }
    .ui-widget-header .ui-icon.ui-icon-circle-triangle-w { width:18px; height:18px; background:url(../resources/images/common/datepicker_pre.png)no-repeat 50%/18px auto; }
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { top:20%; }
    .ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover { top:20%; }
    .ui-datepicker-title { width: 100%; max-width: 160px; display: flex; }
    .ui-datepicker .ui-datepicker-title select { margin:1px 7px; }
    .ui-datepicker-year { background-position: center right 0; }
    .ui-datepicker-year, .ui-datepicker-month { margin:0 12px; padding-right:8px; border:none; /*background-color:#FFDD00;*/ }
    
    .ui-datepicker-calendar .ui-datepicker-other-month { color: #B1A7A6; /*background-color: #F5F3F4;*/ }
    .ui-datepicker-calendar td {   position: relative; width: 24px; border:0; height: 24px; padding: 5px 2px; }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active { border: none; text-align: center; background: #f6f6f6; font-weight: normal; color: #454545; }
    td.ui-datepicker-today { color: #FF7B00; font-weight: 800; }
    .ui-datepicker-days-cell-over.ui-datepicker-today .ui-state-default.ui-state-highlight{ background:#00345F; color:#FFFFFF;  }
    .ui-state-default.ui-state-active { background:#00345F; color:#FFFFFF; }
    
</style>