<header class="headerWrap">
    <div class="main">
        <div class="left-menu">
            <a href="javascript:void(0);" onclick="" class="btn-main-logo">orix logo</a>
        </div>
        <!-- <h1 class="center">텍스트</h1> -->
        <div class="right-menu">
                <div class="tooltip-wrap">
                    <div class="tooltip-txt">
                        <p>새로운 공지가 있습니다.</p>
                    </div>
                    <a href="javascript:void(0)" class="btn-alarm alarm">알람</a>
                </div>
                <a href="javascript:void(0)" class="btn-menu">메뉴</a>
        </div>
    </div>
    <div class="urgency-wrap main">
        <a href="#none">비대면 모바일 플랫폼 구축 TF팀 긴급 회의</a>
    </div>
</header>


